<%= render 'shared/nav' %>

<div class="panel panel-info"> <!-- blue heading -->
	<div class="panel-heading"><strong>Tags and related tasks</strong></div>
		<!-- Table -->
		<table class="table">
              <tr>
                <td><strong>Tag</strong></td>
                <td><strong>Tasks</strong></td>
              </tr>

              <% @tags.each do |tag| %>
                <tr>
                  <td>
                    <div class="thumbnail">
                    <strong><%= tag.name %></strong>
                    </div>
                  </td>

                  <td><% tag.tasks.each do |task| %>
                      <%= link_to task_path(task) do %>
                        <div class="breadcrumb btn btn-default" type="button">
                          <%= task.content %>
                          <em> (By <%= task.due.strftime("%m-%d") %> )</em>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>

        </table>
	</div>
</div>