<%= render 'shared/nav' %>

<%= form_for @threshold do |f| %>

  <% if @threshold.errors.any? %>
    <div class="alert alert-danger">
      <div id="error_explanation">
        <h4>
          <%= pluralize(@threshold.errors.count, "error") %> prohibited
          this threshold from being saved:
        </h4>
        <ul>
          <% @threshold.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="panel panel-danger"> <!-- red heading -->
    <div class="panel-heading"><strong>Value</strong></div>
      <div class="container">
        <br>
        <p><%= f.text_field :value %></p>
        <p><%= f.submit %> | [<%= link_to 'Back', thresholds_path %>]</p>
      </div>
    </div>
  </div>

<% end %>